<div class="container">
    <div class="row">
        <%= form_with url: "/admin/profile/edit" do |form| %>
            <div class="col form-floating mb-3">
                <%= 
                    form.text_field :fName,
                    class: "form-control",
                    id: "fName",
                    value: @user.fName
                %>

                <%= form.label :fName, 'First Name' %>
            </div>

            <div class="col form-floating mb-3">
                <%= 
                    form.text_field :lName,
                    class: "form-control",
                    id: "lName",
                    value: @user.lName
                %>

                <%= form.label :lName, 'Last Name' %>
            </div>
            
            <div class="form-floating mb-3">
                <%= 
                    form.text_field :email,
                    class: "form-control",
                    id: "email",
                    value: @user.email
                %>

                <%= form.label :email %>
            </div>

            <div class="d-grid gap-2 mt-3">
                <%= 
                    form.submit name: "save", 
                    class: "btn btn-block btn-success" 
                %>
            </div>
        <% end %>
    </div>
</div>